In [3]:
import sqlite3
import pandas as pd
sqlite_file = r"C:\Users\poorv\Documents\faers\faers-toolkit-master\faers-data.sqlite"
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

In [4]:
therapy = pd.read_sql_query("SELECT * from THERAPY", conn)
source = pd.read_sql_query("SELECT * from SOURCE", conn) #report source
outcome = pd.read_sql_query("SELECT * from OUTCOME", conn)
react = pd.read_sql_query("SELECT * from REACTION", conn)
drug = pd.read_sql_query("SELECT * from DRUG", conn)
demo = pd.read_sql_query("SELECT * from DEMOGRAPHIC", conn)
indi = pd.read_sql_query("SELECT * from INDICATION", conn)

In [11]:
therapy.head()

    ISR  PRIMARYID    CASEID  DRUG_SEQ  START_DT  END_DT   DUR DUR_COD
0  None  100088884  10008888         1  20120112  201202  None    None
1  None  100088884  10008888         2      2012  201203  None    None
2  None  100088884  10008888         3    201304    None  None    None
3  None  100088884  10008888         4    201812    None  None    None
4  None  100088884  10008888         5    201902    None  None    None

In [12]:
source.head()

    ISR  PRIMARYID    CASEID RPSR_COD
0  None  158794141  15879414       HP
1  None  160163941  16016394      CSM
2  None  160163961  16016396      CSM
3  None  160164251  16016425       HP
4  None  160164981  16016498       HP

#### DE Death
LT Life Threatening

HO Hospitalization - Initial or Prolonged

DS Disability

CA Congenital Anomaly

RI Required Intervention to Prevent Permanent Impairment/Damage

OT Other Serious (Important Medical Event)

In [14]:
outcome.head()

    ISR   PRIMARYID    CASEID OUTC_COD
0  None  1000808410  10008084       OT
1  None   100088884  10008888       OT
2  None   100097843  10009784       OT
3  None  1001163924  10011639       OT
4  None  1001443222  10014432       HO

In [15]:
react.head()

    ISR   PRIMARYID    CASEID                     PT DRUG_REC_ACT
0  None  1000661813  10006618  Drug hypersensitivity         None
1  None  1000661813  10006618      Muscular weakness         None
2  None  1000661813  10006618                   Rash         None
3  None  1000661813  10006618              Urticaria         None
4  None  1000808410  10008084          Adverse event         None

In [16]:
drug.head()

,ISR,PRIMARYID,CASEID,DRUG_SEQ,ROLE_COD,DRUGNAME,PROD_AI,VAL_VBM,ROUTE,DOSE_VBM,...,CUM_DOSE_UNIT,DECHAL,RECHAL,LOT_NUM,EXP_DT,NDA_NUM,DOSE_AMT,DOSE_UNIT,DOSE_FORM,DOSE_FREQ
0,None,1000661813,10006618,1,PS,LIPITOR,ATORVASTATIN CALCIUM,1,None,UNK,...,None,U,None,None,None,020702,None,None,FILM-COATED TABLET,None
1,None,1000661813,10006618,2,SS,BENTYL,DICYCLOMINE HYDROCHLORIDE,1,None,UNK,...,None,U,None,None,None,None,None,None,None,None
2,None,1000661813,10006618,3,SS,DICYCLOMINE,DICYCLOMINE HYDROCHLORIDE,1,None,UNK,...,None,U,None,None,None,None,None,None,None,None
3,None,1000808410,10008084,1,PS,"INFLIXIMAB, RECOMBINANT",INFLIXIMAB,1,Intravenous (not otherwise specified),None,...,None,None,U,None,None,103772,3,MG/KG,LYOPHILIZED POWDER,/wk
4,None,1000808410,10008084,2,C,METHOTREXATE.,METHOTREXATE,1,Unknown,None,...,None,D,None,None,None,None,None,None,UNSPECIFIED,None

In [17]:
demo.head()

,ISR,PRIMARYID,CASEID,CASEVERSION,CASE_NUM,I_F_COD,FOLL_SEQ,IMAGE,EVENT_DT,MFR_DT,...,E_SUB,WT,WT_COD,REPT_DT,OCCP_COD,DEATH_DT,TO_MFR,CONFID,REPORTER_COUNTRY,OCCR_COUNTRY
0,None,1000661813,10006618,13,None,F,None,None,None,20190612,...,Y,None,None,20190625,OT,None,None,None,US,US
1,None,1000808410,10008084,10,None,F,None,None,None,20190528,...,Y,None,None,20190606,MD,None,None,None,GB,US
2,None,100088884,10008888,4,None,F,None,None,2012,20190416,...,Y,None,None,20190424,CN,None,None,None,US,US
3,None,100097843,10009784,3,None,F,None,None,201212,20190514,...,Y,None,None,20190522,CN,None,None,None,US,US
4,None,1001163924,10011639,24,None,F,None,None,2015,20190603,...,Y,None,None,20190609,CN,None,None,None,CA,CA

In [18]:
indi.head()

,ISR,PRIMARYID,CASEID,DRUG_SEQ,INDI_DRUG_SEQ,INDI_PT
0,None,1000808410,10008084,None,1,Rheumatoid arthritis
1,None,100088884,10008888,None,1,Myelofibrosis
2,None,100088884,10008888,None,7,Product used for unknown indication
3,None,100088884,10008888,None,8,Product used for unknown indication
4,None,100088884,10008888,None,9,Product used for unknown indication

In [19]:
sqlite_file = r"C:\Users\poorv\Documents\faers\faers-toolkit-master\db\faers-data.sqlite"
short_conn = sqlite3.connect(sqlite_file)
sc = short_conn.cursor()

In [38]:
sc_therapy = pd.read_sql_query("SELECT * from THERAPY", short_conn)
sc_source = pd.read_sql_query("SELECT * from SOURCE", short_conn) #report source
sc_outcome = pd.read_sql_query("SELECT * from OUTCOME", short_conn)
sc_react = pd.read_sql_query("SELECT * from REACTION", short_conn)
sc_drug = pd.read_sql_query("SELECT * from DRUG", short_conn)
sc_demo = pd.read_sql_query("SELECT * from DEMOGRAPHIC", short_conn)
sc_indi = pd.read_sql_query("SELECT * from INDICATION", short_conn)

In [39]:
print("therapy") 
display(sc_therapy.head())  
print("report source") 
display(sc_source.head())  
print("outcome") 
display(sc_outcome.head())  
print("reaction") 
display(sc_react.head())  
print("drug") 
display(sc_drug.head())  
print("demographics") 
display(sc_demo.head())  
print("indication") 
display(sc_indi.head())

therapy

Empty DataFrame
Columns: [ISR, PRIMARYID, CASEID, DRUG_SEQ, START_DT, END_DT, DUR, DUR_COD]
Index: []

report source

Empty DataFrame
Columns: [ISR, PRIMARYID, CASEID, RPSR_COD]
Index: []

outcome

Empty DataFrame
Columns: [ISR, PRIMARYID, CASEID, OUTC_COD]
Index: []

reaction

Empty DataFrame
Columns: [ISR, PRIMARYID, CASEID, PT, DRUG_REC_ACT]
Index: []

drug

Empty DataFrame
Columns: [ISR, PRIMARYID, CASEID, DRUG_SEQ, ROLE_COD, DRUGNAME, PROD_AI, VAL_VBM, ROUTE, DOSE_VBM, CUM_DOSE_CHR, CUM_DOSE_UNIT, DECHAL, RECHAL, LOT_NUM, EXP_DT, NDA_NUM, DOSE_AMT, DOSE_UNIT, DOSE_FORM, DOSE_FREQ]
Index: []

[0 rows x 21 columns]

demographics

Empty DataFrame
Columns: [ISR, PRIMARYID, CASEID, CASEVERSION, CASE_NUM, I_F_COD, FOLL_SEQ, IMAGE, EVENT_DT, MFR_DT, INIT_FDA_DT, FDA_DT, REPT_COD, AUTH_NUM, MFR_NUM, MFR_SNDR, LIT_REF, AGE, AGE_COD, AGE_GRP, SEX, GNDR_COD, E_SUB, WT, WT_COD, REPT_DT, OCCP_COD, DEATH_DT, TO_MFR, CONFID, REPORTER_COUNTRY, OCCR_COUNTRY]
Index: []

[0 rows x 32 columns]

indication

Empty DataFrame
Columns: [ISR, PRIMARYID, CASEID, DRUG_SEQ, INDI_DRUG_SEQ, INDI_PT]
Index: []

In [ ]:
drug_query = """SELECT OUTCOME.PRIMARYID, OUTCOME.CASEID, OUTCOME.OUTC_COD, 
DRUG.ROLE_COD, DRUG.DRUGNAME, DRUG.VAL_VBM, DRUG.DECHAL, DRUG.RECHAL, DEMOGRAPHIC.CASEVERSION
FROM ((OUTCOME
INNER JOIN DRUG ON OUTCOME.PRIMARYID = DRUG.PRIMARYID AND OUTCOME.CASEID = DRUG.CASEID) 
INNER JOIN DEMOGRAPHIC OUTCOME.PRIMARYID = DEMOGRAPHIC.PRIMARYID AND OUTCOME.CASEID = DEMOGRAPHIC.CASEID)"""

In [ ]:
outcome_drug = pd.read_sql_query(drug_query, conn)

#### CODE MEANING_TEXT

PS Primary Suspect Drug 

SS Secondary Suspect Drug

C Concomitant

l Interacting

In [51]:
outcome_drug[(outcome_drug.OUTC_COD == "LT") | (outcome_drug.OUTC_COD == "DE")]

,PRIMARYID,CASEID,OUTC_COD,ROLE_COD,DRUGNAME,VAL_VBM,DECHAL,RECHAL
210,100146452,10014645,DE,PS,CHANTIX,1,U,None
530,100395508,10039550,LT,C,BETAXOLOL.,1,U,None
531,100395508,10039550,LT,C,FLECAINIDE,1,U,None
532,100395508,10039550,LT,C,ROSUVASTATIN.,1,U,None
533,100395508,10039550,LT,I,AMLODIPINE,1,U,None
534,100395508,10039550,LT,I,RIVAROXABAN,1,U,None
535,100395508,10039550,LT,PS,MICARDIS PLUS,1,U,None
549,100429819,10042981,DE,PS,RITUXIMAB.,1,U,None
550,100429819,10042981,DE,SS,LENALIDOMIDE,1,U,None
934,1005523347,10055233,LT,PS,RAPAMUNE,1,U,None
935,1005523347,10055233,LT,SS,ANTIHUMANLYMFOCYT-GLOBULIN,1,U,None
936,1005523347,10055233,LT,SS,ANTILYMPHOCYTE GLOBULIN,1,U,None
937,1005523347,10055233,LT,SS,ANTILYMPHOCYTE GLOBULIN,1,U,None
938,1005523347,10055233,LT,SS,ANTILYMPHOCYTE GLOBULIN,1,U,None
939,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN,1,U,None
940,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN,1,U,None
941,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN,1,U,None
942,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN,1,U,None
943,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN,1,U,None
944,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN,1,U,None
945,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN,1,U,None
946,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN,1,U,None
947,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN (RABBIT),1,U,None
948,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN (RABBIT),1,U,None
949,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN (RABBIT),1,U,None
950,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN (RABBIT),1,U,None
951,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN (RABBIT),1,U,None
952,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN (RABBIT),1,U,None
953,1005523347,10055233,LT,SS,ANTITHYMOCYTE IMMUNOGLOBULIN (RABBIT),1,U,None
954,1005523347,10055233,LT,SS,CELLCEPT,1,U,None
...,...,...,...,...,...,...,...,...
7496933,99432108,9943210,LT,C,SERETIDE,1,U,None
7496934,99432108,9943210,LT,C,SERETIDE,1,U,None
7496935,99432108,9943210,LT,C,SPIRIVA,1,U,None
7496936,99432108,9943210,LT,PS,CLARITHROMYCIN.,1,U,U
7496937,99432108,9943210,LT,SS,EXEMESTANE.,1,Y,None
7496938,99432108,9943210,LT,SS,GENTAMICIN.,1,U,U
7496939,99432108,9943210,LT,SS,RAD 666 / RAD 001A,1,Y,None
7497017,99548542,9954854,DE,PS,LIPITOR,1,U,None
7497018,99548542,9954854,DE,SS,ATORVASTATIN CALCIUM.,1,U,None
7497019,99548542,9954854,DE,SS,ATORVASTATIN CALCIUM.,1,U,None
7497020,99548542,9954854,DE,SS,CRESTOR,1,U,None
7497021,99548542,9954854,DE,SS,LIPITOR,1,U,None
7497101,99842572,9984257,DE,PS,LIPITOR,1,None,None
7497102,99842572,9984257,DE,SS,LIPITOR,1,None,None
7497311,99915412,9991541,DE,C,ACYCLOVIR.,1,None,None
7497312,99915412,9991541,DE,C,ACYCLOVIR.,1,None,None
7497313,99915412,9991541,DE,C,ALBUTEROL.,1,None,None
7497314,99915412,9991541,DE,C,AMOXICILLIN CLAVULANATE,1,None,None
7497315,99915412,9991541,DE,C,LANSOPRAZOLE.,1,None,None
7497316,99915412,9991541,DE,C,PNEUMOCOCCAL VACCINE POLYVALENT NOS,1,None,None
7497317,99915412,9991541,DE,PS,METHYLPREDNISOLONE SODIUM SUCCINATE.,1,U,None
7497318,99915412,9991541,DE,SS,BUDESONIDE.,1,U,None
7497319,99915412,9991541,DE,SS,METHYLPREDNISOLONE SODIUM SUCCINATE.,1,U,None
7497320,99915412,9991541,DE,SS,METHYLPREDNISOLONE SODIUM SUCCINATE.,1,U,None
7497321,99915412,9991541,DE,SS,METHYLPREDNISOLONE SODIUM SUCCINATE.,1,U,None
7497322,99915412,9991541,DE,SS,METHYLPREDNISOLONE SODIUM SUCCINATE.,1,U,None
7497323,99915412,9991541,DE,SS,METHYLPREDNISOLONE SODIUM SUCCINATE.,1,U,None
7497324,99915412,9991541,DE,SS,PREDNISOLONE.,1,U,None
7497325,99915412,9991541,DE,SS,PREDNISOLONE.,1,U,None
7497326,99915412,9991541,DE,SS,VARIVAX,1,U,None